body {
background-color: rgba(156, 235, 235, 0.698);
}

.App {
  text-align: center;
}

p
 {
  text-align: center;
  font-family: 'Tilt Neon', cursive;
  font-size: 28px;
}

button {
  font-family: 'Tilt Neon', cursive;
  display: inline-block;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
  position: relative;
  border: 1px solid rgb(223, 250, 249);
  border-radius: 18px;
  padding: 0 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
